body {
    background-color: #FDFAF5;
}
h1 {
    color: black;
    text-align: center;
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 85%;
    border-style: none;
    border-width: 5px;
}
h1 {
  background-color: #FC832E;
}
h2 {
  background-color: lightblue;
}
h3 {
  background-color: #B4ED68;
}
p {
  background-color: #F0EDE8;
}
div {  
  width: 100%;
  height: 100%;
  background: grey;
  transition: width 2s;
}
div.first {
  opacity: 0.1;
}
div.second {
  opacity: 0.3;
}
div.third {
  opacity: 0.6;
}
div.fourth {
  opacity: 0.8;
}
div:hover {
    background-color: white;
    width: 100%;
}
#div1 {transition-timing-function: linear;}
#div2 {transition-timing-function: ease;}
#div3 {transition-timing-function: ease-in;}
#div4 {transition-timing-function: ease-out;}
#div5 {transition-timing-function: ease-in-out;}
#div11, #div12, #div13, #div14, #div15, #div16, #div17, #div18, #div19, #div20{
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 25px;
  padding: 10px;
  border: 2px solid black;
}

p.dotted {border-style: dotted;
}
p.dashed {border-style: dashed;
}
p.solid {border-style: solid;
}
p.double {border-style: double;
}
p.groove {border-style: groove;
}
p.ridge {border-style: ridge;
}
p.inset {border-style: inset;
}
p.outset {border-style: outset;
}
p.none {border-style: none;
}
p.hidden {border-style: hidden;
}
p.mix {border-style: dotted dashed solid double;
}
.navlinks {
  display: block;
  border: 2px solid #a1a1a1;
  padding: 2px 5px; 
  background: #add8e6;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #888888;
}
nav {
  background: #d8d8d8; 
  font-weight: bold;
  float: left;
  height: 100%;
  padding-right: 18px;
  font-size: 85%;
  border-style: hidden;
  border-width: 5px;
  margin-right: 10px;
  opacity: 1;
}
section {
  background: #f0ede6; 
  height: 100%;
  padding-right: 20px;
  margin-right: 10px;
  opacity: 1;
 }
   img.resize0 {
     width:2000px;
     height:200px;
  }   
  img.resize0 {
     max-width:100%;
     max-height:200px;
  }   
 img.resize1 {
     width:500px;
     height:200px;
  }
  img.resize1 {
     max-width:50%;
     max-height:50%;
  }   
  .floatright {
  float: right;
  clear: right;
  margin: 10px;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/* Below CSS codes are utilized in my CSS Advanced webpage and for testing it out. */

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #ff5203;}

ul.topnav li a.active {background-color: #ff5203;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
.color{
  width: 100%;
  height: 100%;
  background-color: red;
  animation-name: colorchange;
  animation-duration: 30s;
}

@keyframes colorchange {
  from {background-color: red;}
  to {background-color: yellow;}
}

.movesidetoside {
  font-size: 1rem;
  background-color: red;
  position: relative;
  animation: movement 3s linear 3s infinite alternate;
}

@keyframes movement {
  0%   {background-color:red; left:0px; top:0px;}
  34%  {background-color:yellow; left:200px; top:0px;}
  100% {background-color:red; left:0px; top:0px;}
}
.rotate {
  width: 100px;
  height: 100px;
  background-color: red;
  text-align: center;
  border: 5px solid black;
  margin: 25px;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}        








